body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #FFF, #DDD);
}


/* Header styles */
header {
    background: #008080;
    color: white;
    padding: 20px 0;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.10s ease;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #FFD700;
    position: relative;
}

.navbar-nav .active .nav-link {
    color: #FFD700 !important;
    }

.navbar-nav .nav-link {
    color: #fff;
    margin: 0 1rem;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #FFD700;
}

.navbar-brand {
    margin-right: 2rem;
}

.navbar-toggler {
    border: none;
    background: transparent;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-collapse {
    transition: height 0.3s ease-in-out;
}

.navbar-nav {
    justify-content: flex-end;
}

nav a.nav-link {
    position: relative;
}

nav a.nav-link::after {
    content: '';
    width: 0;
    height: 2px;
    background: #FFD700;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
}

nav a.nav-link:hover::after {
    width: 100%;
}


/* Keyframes for Animations */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes textGlitch {
    0%, 100% {
        clip: rect(44px, 9999px, 56px, 0);
        transform: skew(0.5deg);
    }

    10% {
        clip: rect(94px, 9999px, 35px, 0);
        transform: skew(0.5deg);
    }

    20% {
        clip: rect(28px, 9999px, 74px, 0);
        transform: skew(0.5deg);
    }

    30% {
        clip: rect(30px, 9999px, 68px, 0);
        transform: skew(0.5deg);
    }

    40% {
        clip: rect(70px, 9999px, 100px, 0);
        transform: skew(0.5deg);
    }

    50% {
        clip: rect(10px, 9999px, 80px, 0);
        transform: skew(0.5deg);
    }

    60% {
        clip: rect(94px, 9999px, 40px, 0);
        transform: skew(0.5deg);
    }

    70% {
        clip: rect(30px, 9999px, 68px, 0);
        transform: skew(0.5deg);
    }

    80% {
        clip: rect(20px, 9999px, 90px, 0);
        transform: skew(0.5deg);
    }

    90% {
        clip: rect(30px, 9999px, 80px, 0);
        transform: skew(0.5deg);
    }
}

/* Work Experience */
#work-experience {
    padding: 140px 0;
    background-color: #fff;
}

#work-experience h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    color: #1f7272;
    animation: fadeIn 1.5s ease-in-out;
}

.job {
    background-color: #f9f9f9;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    transition: transform 0.3s, box-shadow 0.3s, border-left 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-left: 4px solid #008080;
}

.job:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
    border-left: 8px solid #ff6347;
}

.job::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 128 128 / 10%);
    opacity: 0;
    transition: opacity 0.3s;
}

.job:hover::after {
    opacity: 1;
}

.job h2, .job h3, .job p {
    margin: 10px 0;
}

.job-details {
    display: none;
    margin-top: 20px;
    animation: fadeIn 0.5s ease-in-out;
}

.job-details ul {
    padding-left: 20px;
}

.job-details h4 {
    margin-top: 20px;
    color: #008080;
}

/* Skills */
#skills {
    padding: 50px 0;
    background-color: #636ed1;
    color: #fff;
}

#skills h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    color: #cfe4e4;
    animation: fadeIn 1.5s ease-in-out;
}

#skills .skill-category:nth-child(1) {
    color: #ff6347; /* Tomato */
}

#skills .skill-category:nth-child(2) {
    color: #6a5acd; /* SlateBlue */
}

#skills .skill-category:nth-child(3) {
    color: #008000; /* Green */
}

#skills .skill-category:nth-child(4) {
    color: #ffa500; /* Orange */
}

#skills .skill-category:nth-child(5) {
    color: #800080; /* Purple */
}

#skills .skill-category:nth-child(6) {
    color: #00bfff; /* DeepSkyBlue */
}

#skills .skill-category:nth-child(7) {
    color: #FF69B4; /* HotPink */
}

#skills .skill-category:nth-child(8) {
    color: #8A2BE2; /* BlueViolet */
}

#skills .skill-category:nth-child(9) {
    color: #DAA520; /* GoldenRod */
}

#skills .skill-category:nth-child(10) {
    color: #006400; /* DarkGreen */
}

#skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-category {
    text-align: center;
    margin-bottom: 20px;
    
}

.skill-category > span {
    font-weight: bold;
}

#skills ul li {
    background-color: #f1eeee;
    color: #369c9c;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#skills ul li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255 99 71 / 10%);
    opacity: 0;
    transition: opacity 0.3s;
}

.skill-category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(255 99 71 / 20%), rgb(106 90 205 / 20%));
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
}

.skill-category:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
}

.skill-category:hover::before {
    opacity: 1;
}


.skill-category ul {
    margin-top: 10px;
    padding-left: 20px;
}

.skill-category ul li {
    margin-bottom: 5px;
    position: relative;
    padding-left: 25px;
}

.skill-category ul li::before {
    content: "\2022";
    font-size: 20px;
    color: #1a1914;
    position: absolute;
    left: 2%;
}




/* Footer */
footer {
    background: #008080;
    color: #fff;
    padding: 1rem 0;
}

footer p {
    margin: 0.5rem 0;
}


footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}


/* Animation for FadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

